<!DOCTYPE html>
<html>
<head>
  <title>Atlspeakers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">
    <div id="content">
      <div class="logdet">
      <h4>
      <%= bootstrap_flash %>
        <% if logged_in? %>
          <p style="color: yellow;"><%= "#{current_user.email}" %>
          <%= link_to "Signout", logout_path %>
        <% else %>
          <%= link_to "SignIn", login_path %>
        <% end %></p>
      </h4>
      </div>

<%= yield %>

</body>
</html>
